@model WebProyecto.Models.Cancha

@{
    ViewBag.Title = "Detalles de cancha";
}

<h3 class="tituloVerde">Detalles de una cancha existente</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(" Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayName(" Provincia")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provincia)
        </dd>

        <dt>
            @Html.DisplayName("Cantón")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.canton)
        </dd>

        <dt>
            @Html.DisplayName("Dirección")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayName("Número de canchas")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantCanchas)
        </dd>

        <dt>
            @Html.DisplayName("Teléfono")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayName("Administrador")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)
        </dd>

    </dl>
</div>
<p class="margenIzq">
    @Html.ActionLink("Editar", "Edit", "Canchas", new { id = Model.id }, null) | 
    @Html.ActionLink("Regresar a administración", "Administrar", "Home")
</p>
