@model IEnumerable<WebProyecto.Models.Cancha>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantCanchas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.canton)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.cantCanchas)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.telefono)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.canton)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Canchas", new { id=item.id },null) |
            @Html.ActionLink("Details", "Details", "Canchas", new { id=item.id },null) |
            @Html.ActionLink("Delete", "Delete", "Canchas", new { id=item.id },null)
        </td>
    </tr>
}

</table>
