@model IEnumerable<WebProyecto.Models.Cancha>

@{
    ViewBag.Title = "Index";
}

<h4 class="tituloVerde">Administración de Canchas</h4>

<p>
    @Html.ActionLink("Crear una nueva cancha", "Create", "Canchas", null, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("Número de canchas")
        </th>
        <th>
            @Html.DisplayName("Teléfono")
        </th>
        <th>
            @Html.DisplayName("Provincia")
        </th>
        <th>
            @Html.DisplayName("Canton")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.cantCanchas)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.telefono)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.canton)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", "Canchas", new { id=item.id },null) |
            @Html.ActionLink("Detalles", "Details", "Canchas", new { id=item.id },null) |
            @Html.ActionLink("Eliminar", "Delete", "Canchas", new { id=item.id },null)
        </td>
    </tr>
}

</table>
