@model WebProyecto.Models.Usuario

@{
    ViewBag.Title = "Borrar usuario";
}

<h3 class="tituloVerde">Borrar un usuario existente</h3>
<h4 class="texto">¿Está seguro que desea borrar éste usuario?</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayName("Apellido")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayName("Teléfono")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayName("Correo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayName("Equipo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipos.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="margenIzq">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a administración", "Administrar", "Home")
        </div>
    }
</div>
