@model WebProyecto.Models.Usuario

@{
    ViewBag.Title = "Detalles de usuario";
}

<h3 class="tituloVerde">Detalles de un usuario existente</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(" Rol")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol)
        </dd>

        <dt>
            @Html.DisplayName(" Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayName(" Apellido")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayName("Teléfono")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayName("Correo electrónico")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayName("Equipo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipos.nombre)
        </dd>

    </dl>
</div>
<p class="margenIzq">
    @Html.ActionLink("Editar", "Edit", "Usuarios", new { id = Model.id }, null) |
    @Html.ActionLink("Regresar a administración", "Administrar", "Home")
</p>