@model IEnumerable<WebProyecto.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h4 class="subtituloVerde">Administración de Usuarios</h4>

<p>
    @Html.ActionLink("Crear un nuevo usuario", "Create", "Usuarios")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Rol")
        </th>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("Apellido")
        </th>
        <th>
            @Html.DisplayName("Teléfono")
        </th>
        <th>
            @Html.DisplayName("Correo")
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.contraseña)
        </th>*@
        <th>
            @Html.DisplayName("Equipo")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.contraseña)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Equipos.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", "Usuarios", new { id=item.id }, null) |
            @Html.ActionLink("Detalles", "Details", "Usuarios", new { id=item.id }, null) |
            @Html.ActionLink("Borrar", "Delete", "Usuarios", new { id=item.id }, null)
        </td>
    </tr>
}

</table>
