@model WebProyecto.Models.Equipos

@{
    ViewBag.Title = "Borrar equipo";
}

<h3 class="tituloVerde">Borrar un equipo existente</h3>
<h4 class="texto">¿Está seguro que desea borrar éste equipo?</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayName("Código de acceso")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codAcceso)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="margenIzq">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a administración", "Administrar", "Home")
        </div>
    }
</div>
