@model WebProyecto.Models.Equipos

@{
    ViewBag.Title = "Details de equipo";
}

<h3 class="tituloVerde">Detalles de un equipo existente</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(" Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayName("Código de acceso")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codAcceso)
        </dd>

    </dl>
</div>
<p class="margenIzq">
    @Html.ActionLink("Editar", "Edit", "Equipos", new { id = Model.id }, null) |
    @Html.ActionLink("Regresar a administración", "Administrar", "Home")
</p>
