@model IEnumerable<WebProyecto.Models.Equipos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codAcceso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codAcceso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Equipos", new { id=item.id },null) |
            @Html.ActionLink("Details", "Details", "Equipos", new { id=item.id }, null) |
            @Html.ActionLink("Delete", "Delete", "Equipos", new { id=item.id }, null)
        </td>
    </tr>
}

</table>
