@model IEnumerable<WebProyecto.Models.Equipos>

@{
    ViewBag.Title = "Index";
}

<h4 class="subtituloVerde">Administración de Equipos</h4>

<p>
    @Html.ActionLink("Crear un nuevo equipo", "Create", "Equipos")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("Código de acceso")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codAcceso)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", "Equipos", new { id=item.id },null) |
            @Html.ActionLink("Detalles", "Details", "Equipos", new { id=item.id }, null) |
            @Html.ActionLink("Borrar", "Delete", "Equipos", new { id=item.id }, null)
        </td>
    </tr>
}

</table>
