<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Retando a Toda Costa Rica</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Solo Retos", "", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Canchas afiliadas", "Lista", "Canchas")</li>
                    <li>@Html.ActionLink("Ranking de equipos", "Ranking", "Equipos")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contáctenos", "Contact", "Home")</li>
                    @if (Session["rol"] != null)
                    {
                        string rol = Session["rol"] + "";
                        if (rol.Equals("jugador"))
                        {
                            <li>@Html.ActionLink("Buscar reto", "", "")</li>
                        }
                        else
                        {
                            if (rol.Equals("administrador"))
                            {
                                <li>@Html.ActionLink("Administrar", "Administrar", "Home")</li>
                            }
                            else
                            {
                                if (rol.Equals("dueño"))
                                {
                                    <li>@Html.ActionLink("Mi cancha", "", "")</li>
                                }
                            }
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        
    </div>
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015-Solo Retos<br> Todos los derechos Reservados.
                </div>
                <div class="col-sm-6">
                    <div class="social-icons">
                        <a href="#" class="sb orange twitter"></a>
                        <a href="#" class="sb blue facebook"></a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
